/*
 *
 *DEFAULT STYLES
 *
 */
body {
    background-color: #FFF;
}
/*
 *
 * HEADER
 *
 */
div.header {
    clear: both;
    border-bottom: solid thin #000;
}
div.header div.main {
    height: 20px;
    width: 960px;
    margin: 0 auto;
}
.logo {
    float: left;
}
.navigation {
    float: left;
    padding-left: 5px;
}
.navigation nav ul li {
    float: left;
    padding-right: 5px;
}
.account {
    float: right;
}
.account nav ul li {
    float: left;
    padding-left: 5px;
}
/*
 *
 * MAIN
 *
 */
div.body {
    clear: both;
    width: 100%;
}
div.body div.main {
    width: 960px;
    margin: 0 auto;
    margin-top: 5px;
}
div.body div.main div.mainbar {
    width: 760px;
    float: left;
}
div.body div.main div.mainbar fieldset {
    padding: 5px;
}
div.body div.main div.sidebar {
    width: 190px;
    float: right;
    padding: 5px;
}
/*
 *
 * FOOTER
 *
 */
div.footer {
    clear: both;
    width: 100%;
    height: 20px;
    display: block;
    position: fixed;
    overflow: visible visible;
    border-top: solid thin #000;
    bottom: 0px;
}
div.footer div.main {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
